@import url('https://cdn.jsdelivr.net/font-zero-width/latest/zero-width.css');

/* https://github.com/patrickkunka/zero-width */


/* base */


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    border: none;
}

.main-heading {
    padding: 5%;
    background: #9c005d;
}

.main-heading p {
    font-weight: 600;
}


/* typography */

body {
    font-family: 'helvetica', sans-serif;
    font-weight: 300;
    background-color: #fafafa;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    /* needed here because default is bold */
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

h2 {}

h3 {
    font-size: 1em;
}

h4 {}

h5 {}

h6 {}

p {}

nav {}


/*---------FORM STYLING--------*/

form {
    width: 100%;
    padding: 5%;
}

legend {
    font-weight: 600;
    font-size: 1.8em;
    text-align: left;
    color: #9c005D;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #9c005d;
    background-color: #FFF0F9;
}

fieldset {
    border: none;
    margin-top: 5%;
}

fieldset h3 {
    margin: 35px 0 10px 0;
}

label {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
}

label[type="radio"],
label[type="checkbox"] {
    font-weight: 300;
}

label,
input {
    display: inline-block;
    padding: 10px 0 10px 0;
    background-color: #fafafa;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}

input[type="radio"] {
    display: inline;
    margin-right: 15px;
}

input[type="radio"] + label {
    display: inline-block;
    width: 90%;
    clear: both;
    font-weight: 300;
}

input[type="checkbox"] {
    display: inline;
    margin-right: 15px;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 90%;
    font-weight: 300;
}

textarea {
    width: 100%;
    border: 1px solid lightgray;
    background-color: white;
}

input[type="submit"] {
    display: block;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background-color: #9c005d;
    color: white;
    border: 0;
}

input[type="submit"]:hover {
    background-color: #eb1d5d;
}

@media screen and (min-width:768px) {
    input[type="radio"] {
        margin-right: 5px;
    }
    input[type="radio"] + label {
        display: inline;
        margin-right: 4%;
    }
    input[type="checkbox"] {
        margin-right: 3px;
    }
    input[type="checkbox"] + label {
        display: inline;
        margin-right: 3%;
    }
    fieldset h3 {
        margin: 40px 0 25px 0;
    }
}